* {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
}

h1, h2, li, aside, p {
    color: #3C3C3C;
}

h1, h2, ul, li, aside, pre {
    margin: 16px 0px;
}

ul {
    padding: 0px 24px;
}

#title {
    margin-top: 32px;
    font-size: 40px;
    font-weight: 700;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

p > code {
    color: #EB5757;
    background-color: #F1F1EF;
    border-radius: 4px;
    padding: 0px 4px;

}

aside, pre {
    background-color: #F1F1EF;
    border-radius: 4px;
    padding: 24px;
}